[svcdefs]
    # Variables in service definitions
    #
    # %d        device          audio device number
    # %h, %p    host, port      listen host and port
    # %H, %P    dshost, dsport  Downstream host and port

    [svcdefs.playd]
        command = "playd %d %h %p"
    [svcdefs.listd]
        command = "ury-listd-go -p%p -P%P"

[[groups]]
    name = "Channel 1"
    [[groups.services]]
        name = "playd"
        host = "localhost"
        port = 1350
        device = 0
    [[groups.services]]
        name = "listd"
        port = 1351
        dsport = 1350

[http]
    listen = "0.0.0.0:3000"
